<div class="bg-white shadow rounded-lg overflow-hidden mt-8 w-full overflow-x-auto">

  <table class="min-w-full text-sm text-left">

    <thead class="bg-gray-100">
      <tr>
        @for (col of columns; track col) {
        <th (click)="sortData(col)" class="cursor-pointer">
          {{ col }}
          @if (sortColumn === col) {
          <span>
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
          }
        </th>
        }

        @if (showActions) {
        <th class="px-6 py-3">
          Actions
        </th>
        }
      </tr>
    </thead>

    <tbody>

      @for (row of paginatedData; track row; let i = $index) {
      <tr class="border-t">
        @for (col of columns; track col) {
        <td class="px-6 py-4">
          {{ row[col.toLowerCase()] }}
        </td>
        }
        @if (showActions) {
        <td class="px-6 py-4 space-x-2">
          <button (click)="edit.emit({row, index:i})" class="text-blue-600">
            Edit
          </button>
          <button (click)="delete.emit({row, index:i})" class="text-red-600 hover:underline">
            Delete
          </button>
        </td>
        }
      </tr>
      }

    </tbody>

  </table>
  <div class="flex justify-between items-center mt-4 m-1">

    <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-3 py-1 border rounded">
      Previous
    </button>

    <span>
      Page {{ currentPage }} of {{ totalPages }}
    </span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-3 py-1 border rounded">
      Next
    </button>

  </div>

</div>