<form [formGroup]="loginForm" class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900"
    (ngSubmit)="login()">

    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow w-80">

        <h2 class="text-xl font-semibold mb-4 text-center">
            Login
        </h2>

        <div class="space-y-3">

            <input type="email" formControlName="email" placeholder="Enter email"
                class="p-2 w-full border rounded outline-none transition-all duration-200" [ngClass]="{
    'border-red-500': loginForm.get('email')?.touched && loginForm.get('email')?.invalid,
    'border-gray-300': !(loginForm.get('email')?.touched && loginForm.get('email')?.invalid),
    'focus:border-blue-500': true
  }" />

            @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
            <p class="text-red-500 text-sm">
                Enter valid email
            </p>
            }

            <input type="password" formControlName="password" placeholder="Enter password"
                class="p-2 w-full border rounded outline-none transition-all duration-200" [ngClass]="{
    'border-red-500': loginForm.get('password')?.touched && loginForm.get('password')?.invalid,
    'border-gray-300': !(loginForm.get('password')?.touched && loginForm.get('password')?.invalid),
    'focus:border-blue-500': true
  }" />

            @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
            <p class="text-red-500 text-sm">
                Minimum 6 characters required
            </p>
            }

            @if (error$ | async; as error) {
            <div class="text-red-500 text-sm text-center">
                {{ error }}
            </div>
            }

            <button type="submit" [disabled]="loginForm.invalid || (isLoading$ | async)" class="px-4 py-2 rounded text-white
         bg-blue-500
         disabled:bg-gray-400
         disabled:cursor-not-allowed
         disabled:opacity-60">
                @if (isLoading$ | async) {
                Logging in...
                } @else {
                Login
                }
            </button>

        </div>

    </div>

</form>